<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../assets/css/index.css"> 
  <style>
    footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
.button {
  background-color: #557275; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button4 {border-radius: 32px;
width:250px;}
.button4:hover {
  background-color: #4CAF50;
  color: white;
}


  </style>
</head>
<body>
  
    <div id="urgent">
      <center><h1>WELCOME TO ONLINE BANKING SYSTEM</h1>
       </div></center>
      
    <script>
    var e=document.getElementById("urgent");
    var colors=["#FFCC99","#FFF5D7","#BBBBBB","#FFE5B4"];
    var nextColor=0;
    setInterval("e.style.backgroundColor=colors[nextColor++%colors.length];",900);
    </script>
<main><br><br><br><br><br><br>
  <center><h2>BY CHRISTINA PEREIRA</h2><br><br><br><br>
    <a href="home.php"><button class="button button4">ENTER</button></a>
  
  
  </center>
  
</main>
</body>
<br><br><br><br><br><br>
<footer>
  <p>Special Thanks:The Sparks Foundation <br>
  <a href="https://www.thesparksfoundationsingapore.org/">info@thesparksfoundation.sg</a></p>
</footer>
</html>
